#categoryItem .category-item {
  width: 150px;
  height: 250px; 
  padding: 10px;
  border: 1px solid #bebaba;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  background-color: #ffffff; /* White background */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; /* Prevent content overflow */
}

#categoryItem .category-item:hover {
  transform: scale(1.05);
}

#categoryItem .category-item-image {
  width: 140px;
  height: 100px;
  display: block; 
  object-fit: contain; 
  object-position: center; 
  border-bottom: 2px solid #e0e0e0; /* Add a border only under the image */
  box-sizing: border-box; 
  background-color: #ffffff; /* Set the image background to white */
}

#categoryItem .category-item-details {
  background-color: #ffffff; /* Different background color for details section */
  padding: 10px;
  width: 110%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
}
#categoryItem .category-item-details h3 {
  font-size: 14px; 
  margin: 5px 0;
  word-wrap: break-word; /* Wrap long words */
}

#categoryItem .category-item-details p {
  font-weight: bold;
  color: #2e4255;
}

#categoryItem .category-item-rating {
  font-size: 14px;
  color: #2e4255;;
}

#categoryItem .category-item-price {
  font-weight: bold;
  color: #2e4255;
  margin-top: auto; /* Push price to the bottom */
}
