/* components/Cart/cartItem.css */
#cartItem .cart-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    background: #fafafa;
    margin-top: 3px;
    justify-content: space-between; /* Ensure spacing between content */
  }
  
  #cartItem .cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 15px;
  }
  
  #cartItem .cart-item-details {
    flex: 2;
  }
  
  #cartItem .cart-item-details h2 {
    font-size: 16px;
    margin: 0;
  }

  #cartItem .cart-item-details h3 {
    font-size: 18px;
    margin: 0;
  }
  
  
  #cartItem .cart-item-details p {
    font-size: 14px;
    color: #555;
    cursor: pointer;
    margin: 5px 0;
  }
  
  #cartItem .cart-item-price {
    font-size: 16px;
    margin-right: 20px;
  }
  
  #cartItem .cart-item-quantity {
    display: flex;
    align-items: center;
  }
  
  #cartItem .cart-item-quantity button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #cartItem .cart-item-quantity span {
    margin: 0 10px;
  }
  #cartItem .buttons{
    display: flex;
    align-items: flex-end; /* Align buttons to the right */
    gap: 10px; /* Add spacing between buttons */
  }

  #cartItem .add-to-favorites-button {
    margin-top: 10px;
    background-color:#2E4255; 
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
  
  #cartItem .add-to-favorites-button:hover {
    color: black;
    background-color: #688aaa;
    border: 2px solid #688aaa;
  }
  #cartItem .remove-from-cart-button {
    margin-top: 10px;
    background-color:#2E4255;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); 
  }
  
  #cartItem .remove-from-cart-button:hover {
    color: black;
    background-color: #688aaa;
    border: 2px solid #688aaa;
  }
  