/* home.css */

#home-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Home Container */
#home-page .home-container {
  display: flex;
  flex-grow: 1;
  margin-top: 1rem;;
  width: 100%;
  flex-wrap: wrap; /* Enable wrapping in smaller screens */
}

/* Home Main Content */
#home-page .home-main {
  flex-grow: 1;
  margin-left: 400px; /* Adjust this based on the sidebar width */
  padding: 20px;
  background: white;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 5%; /* Adjust this to the height of the fixed header */
}

@media (max-width: 768px) {
  #home-page .home-main {
    margin-left: 0; /* Remove left margin on mobile */
    padding: 10px;

  }
}

/* Home Bottom Section */
#home-page .home-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

/* Modal Styles */

#home-page .modal-overlay-home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 10%; 
  z-index: 1000;
}

/* Modal Container */
#home-page .modal-home {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 90%;
}



/* Buttons Container */
#home-page .modal-buttons-home {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

/* Sign In Button */
#home-page .sign-in-button-home {
  padding: 0.5rem 1rem;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#home-page .sign-in-button-home:hover {
  background-color: #217dbb;
}

/* Close Button */
#home-page .close-button-home {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #e74c3c;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#home-page .close-button-home:hover {
  background-color: #c0392b;
}



@media (max-width: 768px) {
  #home-page .home-bottom {
    flex-direction: column;
  }


}


