/* src/components/Profile/Balance.css */
.balance-container {
    padding: 15px;
    background-color: #CAD3F0;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #2E4255;
}
