/* favorites.css */


#favorites-section {
    background: linear-gradient(to bottom, #cbcfdf, #e3e6f0);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 2rem 5px rgba(0, 0, 0, 0.1);
    width: 55%;
    height: 90%;
    box-sizing: border-box;
    margin-left: 20rem;
    margin-top: 6rem;
  }
#favorites-section .favorites-container {
    padding: 20px;
    background: linear-gradient(to bottom, #cbcfdf, #e3e6f0);
  }
  
#favorites-section .favorites-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  /* Modal Overlay */
  #favorites-section .modal-overlay-unique {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#favorites-section .modal-unique {
  position: relative; /* Allows the close button to position itself relative to the modal */
  background:#D3D8ED;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 400px;
  max-width: 90%;
  text-align: center;
  z-index: 1001; /* Ensure it's above the overlay */
}


#favorites-section .quantity-input-area {
  background-color:#CAD3F0; 
  border-radius: 0px;
  border-color:#CAD3F0;
}

#favorites-section .add-to-cart-button {
  margin-top: 10px;
  background-color:#CAD3F0; 
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#favorites-section .remove-from-favorites-button {
  margin-top: 10px;
  background-color:#CAD3F0;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); 
}

#favorites-section .close-button-unique {
  position: absolute;
  top: 10px; /* Position it inside the modal at the top-right corner */
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #2e4255; /* Adjust color */
}

#favorites-section .close-button-unique:hover {
  color: #ff0000; /* Change color when hovered */
}

#favorites-section .modal-content-unique {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#favorites-section .product-image-unique {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
  