/* favorites.css */


#favorites-section {
    background: linear-gradient(to bottom, #cbcfdf, #e3e6f0);
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 2rem 5px rgba(0, 0, 0, 0.1);
    width: 55%;
    height: 90%;
    box-sizing: border-box;
    margin-left: 20rem;
    margin-top: 6rem;
  }
#favorites-section .favorites-container {
    padding: 20px;
    background: linear-gradient(to bottom, #cbcfdf, #e3e6f0);
  }
  
#favorites-section .favorites-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  
  