/* sales.css */
/* latestNews.css */

#sales-section {
  width: 100%;
  margin-top: 2%;
  
}

#sales-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}


#sales-section .hot-sale {
  position: relative;
  width: 80%;
  height: auto;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Smooth hover effect */
}

#sales-section .hot-sale:hover {
  transform: scale(1.02); /* Enlarge on hover */
}

#sales-section .hot-sale-image {
  width: 100%;
  height: auto;

  border-radius: 10px;
  object-fit: cover;
}

#sales-section .hot-sale-details {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.555);
  color: rgb(0, 0, 0);
}

#sales-section .hot-sale-details h3 {
  font-size: 20px;
  margin: 0;
}

#sales-section .other-sales-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#sales-section .other-sales-item {
  flex: 1;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Smooth hover effect */
}

#sales-section .other-sales-item:last-child {
  margin-right: 0;
}

#sales-section .other-sales-item:hover {
  transform: scale(1.05); /* Enlarge on hover */
}

#sales-section .other-sales-image {
  width: 100%;
  height: auto;
  max-height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 5px;
}

#sales-section p {
  font-size: 14px;
  color: #333;
  margin: 0;
}

@media (max-width: 768px) {
  /* Make sections stack on top of each other in smaller screens */
  #sales-section .other-sales-list {
    width: 100%;
  }
  #sales-section .hot-sale {
    width: 100%;
  }
}

  